.container{
	width: 100%;
	border:1px solid gray;
}
header,footer{
	padding: 1em;
	color: black;
	/*background-color: #00cc99;*/
	clear:center;
	text-align: center;
	background-color:#B0C4DE;
}
nav{
	float: left;
	max-width: 160px;
	margin:0;
	padding: 2em;
	/*background-color: lightblue;*/
	background-color: 	#00ff80;
}
nav ul {
	list-style-type: none;
	padding: 0%;
	background-color: #33ffff;
}
nav ul a{
	text-decoration: none;
	background-color: 	#33ffff;
}
article{
	/*margin-left: 170px;*/
	/*border-left:3px solid gray;*/
	padding: 1em;
	/*overflow: hidden;*/
	background-color: #FFE4C4;
	margin:auto;

}
.accordian{
	width: 800px;
	height: 300px;
	overflow: hidden;

	margin: 100px auto;
	-webkit-box-shadow:0 8px 6px black;
	-moz-box-shadow:0 8px 6px -6px black;
}
.accordian ul{

}
.accordian li{
	position:relative;
	display: block;
	width: 140px;
	float: left;

	border-left:1px solid #888;
	-webkit-box-shadow:0 0 25px 10px rgba(0,0,0,0.5);
	-moz-box-shadow:0 0 25px 10px 10px rgba(0,0,0,0,5);

	transition: all 0.5s;
	-webkit-transition:all 0.5s;
	-moz-transition:all 0.5s;
}

.accordian ul:hover li{
	width: 50px;
}

.accordian ul li:hover{
	width: 500px;
}
.accordian li img{
	display: block;
}

.image_tittle{
	background:rgba(0,0,0,0.5);
	position: absolute;
	left: 0;
	bottom: 0;
	width: 500px;
}
.image_title a{
	display:block;
	color:blue;
	text-decoration: black;
	padding: 10px;
	font-size: 16px;

}




