.cv{
	box-shadow: 4 8px 16px 4 /*rgba(0,0,0,0.2)*/;
	max-width: 300px;
	margin: auto;
	text-align: center;
	font-family: arial;
}
.container::after{
	padding: 0 16px;
	text-align: left;

}
.container::after{
	
	clear: both;
	display: table;
	text-align: left;
}
.title{
	color:grey;
	font-size: 18px;


}